global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'kafka-jmx-exporter'
    static_configs:
      - targets: ['kafka-jmx-exporter-1:9404']
        labels:
          service: 'kafka'
          exporter: 'jmx'
          broker: 'kafka-46-1'
          broker_id: '1'
      - targets: ['kafka-jmx-exporter-2:9404']
        labels:
          service: 'kafka'
          exporter: 'jmx'
          broker: 'kafka-46-2'
          broker_id: '2'
      - targets: ['kafka-jmx-exporter-3:9404']
        labels:
          service: 'kafka'
          exporter: 'jmx'
          broker: 'kafka-46-3'
          broker_id: '3'

  - job_name: 'kafka-exporter'
    static_configs:
      - targets: ['kafka-exporter:9308']
        labels:
          service: 'kafka'
          exporter: 'kafka-exporter'
rule_files:
  - kafka-alerts.yml
