hostPort: kafka-44:9999
rules:
  - pattern: "kafka.server<type=(.+), name=(.+)><>Value"
    name: kafka_server_$1_$2
  - pattern: "kafka.server<type=(.+), name=(.+)><>OneMinuteRate"
    name: kafka_server_$1_$2_one_minute_rate
  - pattern: "kafka.server<type=(.+), name=(.+)><>MeanRate"
    name: kafka_server_$1_$2_mean_rate
  - pattern: "kafka.log<type=(.+), name=(.+)><>Value"
    name: kafka_log_$1_$2
  # JVM metrics
  - pattern: "java.lang<type=Memory><HeapMemoryUsage>used"
    name: jvm_memory_heap_used_bytes
    type: GAUGE
  - pattern: "java.lang<type=Memory><HeapMemoryUsage>max"
    name: jvm_memory_heap_max_bytes
    type: GAUGE
  - pattern: "java.lang<type=GarbageCollector, name=(.+)><CollectionCount>"
    name: jvm_gc_collections_total
    type: COUNTER
    labels:
      gc: "$1"